.App {
    font-family: sans-serif;
    text-align: center;
  }
  form {
    padding: 30px;
  }
  .hidden {
    display: none;
  }
  
  label {
    margin-top: 15px;
    margin-bottom: 5px;
  }
  button {
    margin-top: 7px;
    margin-bottom: 7px;
  }
  .inline-errormsg {
    color: red;
    font-size: 12px;
  }